@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">

                
                @*<h1>@ViewBag.Title.</h1>*@
                @*<h2>@ViewBag.Message</h2>*@
            </hgroup>
            <p>
                @*<img src="~/Images/catpurpure.jpg" />*@
                @*background-color: #ffffff;
                clear: both;
                padding-bottom: 35px;
                background-image: url(/Images/catpurpure.jpg);
                zoom: normal;
                background-color: #dc3545;
                color: #3e5667;
                /* padding: 20px 40px 30px 40px; */
                height: 759px;
                opacity: 0.5;
                /* background-position-x: center; */
                background-repeat: no-repeat;
                background-size: 100%;*@
            </p>
        </div>
    </section>
}

