﻿@using System.Web.Mvc.Html;
@model MvcApplication1.Models.ProfileModel
<!DOCTYPE html>
<html>
    <head>
        <title>Створити статтю</title>
    </head>
    <body>
        <h2>Створити статтю</h2>
    </body>
</html>
