@{
    ViewBag.Title = "FindAssosiates";
}

<h2>Знайти однодумців</h2>
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Профіль", "Index", FormMethod.Get)</li>
        <li>@Html.ActionLink("Мої статті", "CreateArticle", FormMethod.Get)</li>
        <li>@Html.ActionLink("Заявки", "Requests", FormMethod.Get)</li>        
    </ul>
</nav>

<p>
    Дайте відповіді на питання:
</p>
<fieldset>
    <legend>ProfileRe-passTheSurvey</legend>
    @using (Html.BeginForm("RetakeTest", "Profile", FormMethod.Post))
    {
        <p>
            <button>Повторно пройти анкетування</button>
        </p>
    }
    @using (Html.BeginForm("Index", "Profile", FormMethod.Post))
    {
        <p>

            <button>Підтвердити</button>
        </p>
    }
</fieldset>