@using System.Web.Mvc.Html;
@model MvcApplication1.Models.ProfileModel
@{
    ViewBag.Title = "MyArticle";
}
<h2>Мої статті</h2>

@Html.ListBoxFor(m => m.articleName, Model.articleNames, new { size = 3 })
<br />
@using (Html.BeginForm("CreateArticle", "Profile", FormMethod.Get))
{
    <p>
        <button>Створити статтю</button>
    </p>
}
