@{
    ViewBag.Title = "Requests";
}

<h2>Заявки</h2>
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Профіль", "Index", FormMethod.Get)</li>
        <li>@Html.ActionLink("Мої статті", "CreateArticle", FormMethod.Get)</li>        
        <li>@Html.ActionLink("Знайти однодумців", "FindAssosiates", FormMethod.Get)</li>
    </ul>
</nav>
