@model MvcApplication1.Models.ProfileModel
<div id="tegs">
    
    @foreach (var item in Model.tegs)
    {

        <span id="@item" class="tag badge badge-pill">

            <span id="userTegs" class="profileUserData">@item</span>
            <span class="badge badge-pill removeTag" onclick="removeTeg(this)">x</span>
        </span>

    }
    <input id="inputAddTeg" value="" style="display:none; " />
    <input id="btnEditTeg" onclick="AddTeg()" type="submit" value="" class="btn  btnEdit" />  
</div>
