<!DOCTYPE html>

<html>
<head>
    <title>Простой чат</title>
</head>
<body>
    <aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar">
        <div class="popup-head">
            <div class="popup-head-left pull-left">
                <a design and developmenta title="" target="_blank" href="#">
                    <img class="md-user-image">
                    <h1>User...</h1>@*<small><br> <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Web Designer!!!...</small>*@
                </a>
            </div>
            <div class="popup-head-right pull-right">


                @*<button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">
                    <i class="glyphicon glyphicon-paperclip"></i>
                </button>*@
                <ul role="menu" class=" dropdown-menu pull-right">
                    <li><a href="#"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Gallery</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Photo</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Video</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Audio</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contact</a></li>
                </ul>


                <button data-widget="remove" id="removeClass" onclick="removeClass()" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
        </div>
        <div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" style="opacity: 1; display: block; transform: translateX(0px);">
            <div id="messages" class="chat_box touchscroll chat_box_colors_a">
                 


            </div>
        </div>
        <div class="chat_submit_box">
            <div class="uk-input-group">

                <div class="gurdeep-chat-box">
                    <span style="vertical-align: sub;" class="uk-input-group-addon">
                        <a href="#"><i class="fa fa-smile-o"></i></a>
                    </span>
                    <input type="text" placeholder="Type a message" id="submit_message" name="submit_message" class="md-input">
                    <span style="vertical-align: sub;" class="uk-input-group-addon">
                        <a href="#"><i class="fa fa-camera"></i></a>
                    </span>
                </div>


                <span class="uk-input-group-addon">
                    <a href="#"><i id="send" class="glyphicon glyphicon-send"></i></a>
                </span>

            </div>
        </div>

    </aside>


    

    <script type="text/javascript">
        var socket,
            $txt = document.getElementById('submit_message'),
            $user = 'user6',
            $messages = document.getElementById('messages');

        if (typeof (WebSocket) !== 'undefined') {
            console.log('1 - socket undef');
            socket = new WebSocket("ws://localhost:59521/ChatHandler.ashx");
        } else {
            console.log('2 - socket def');
            socket = new MozWebSocket("ws://localhost:59521/ChatHandler.ashx");
        }
                        //socket.SetRequestHeader("Cookie", "FromUser" + "=" + $user);
        socket.onmessage = function (msg) {
            var $el = document.createElement('p');
            //$el.innerHTML = msg.data;
            //console.log(msg.data);
            //msg.data = msg.data.replace(/\\n/g, "\\n")
            //   .replace(/\\'/g, "\\'")
            //   .replace(/\\"/g, '\\"')
            //   .replace(/\\&/g, "\\&")
            //   .replace(/\\r/g, "\\r")
            //   .replace(/\\t/g, "\\t")
            //   .replace(/\\b/g, "\\b")
            //   .replace(/\\f/g, "\\f");
            // remove non-printable and other non-valid JSON chars
            //msg.data = msg.data.replace(/[\u0000-\u0019]+/g, "");
            var str = msg.data;

            //console.log('str', str);img

            //console.log('typeof', typeof(str));
            //var obj = JSON.parse("'" + str + "'");
            //var s = '{"FromUser":"user","Message":"100","Time":"10","ToUser":"user6"}';
            var n = str.indexOf("}");
            var subStr = str.substring(0, n+1);
            var obj = JSON.parse(subStr);
            //console.log(obj);
            //$messages.appendChild($el);
            //var cur_ques_details = msg.data;
            //document.write(cur_ques_details['ques_title']);
            console.log(getCookie("UserId"));
            //console.log(userphotoImg);
            if (fromUser == obj.FromUser) {


                $('#messages').append('<div class="chat_message_wrapper chat_message_right">' +
                        '<div class="chat_user_avatar">' +
                            '<a href="#" target="_blank">' +
                               ' <img alt="' + fromUser + '" title="' + fromUser + '" src="' + userphotoImg + '" class="md-user-image">' +
                            '</a>' +
                        '</div>' +
                       ' <ul class="chat_message">' +
                           ' <li>' + 
                               ' <p>' +
                                    obj.Message +
                                    '<span class="chat_message_time">'+obj.Time+'</span>' +
                                '</p>' +
                           ' </li>' +
                       ' </ul>' +
                    '</div>');
            }
            else {
                $('#messages').append('<div class="chat_message_wrapper">' +
                        '<div class="chat_user_avatar">' +
                            '<a href="#" target="_blank">' +
                               '  <img alt="' + fromUser + '" title="' + fromUser + '" src="' + userphotoImg + '" class="md-user-image">' +
                            '</a>' +
                        '</div>' +
                       ' <ul class="chat_message">' +
                           ' <li>' +
                               ' <p>' +
                                    obj.Message +
                                    '<span class="chat_message_time">' + obj.Time + '</span>' +
                                '</p>' +
                           ' </li>' +
                       ' </ul>' +
                    '</div>');
            }
        };

        socket.onclose = function (event) {
            alert('Мы потеряли её. Пожалуйста, обновите страницу');
        };

        $('.md-user-image').attr('src', toUserImg);
        $('.md-user-image').attr('alt', toUser);
        $('.md-user-image').attr('title', toUser);
        $('.pull-left').find('h1').text(toUser);

        var d = new Date();

        

        document.getElementById('send').onclick = function () {
            //console.log('1 - send');
            //console.log(toUser);
            //console.log(getCookie("UserId"));
            //console.log($('#submit_message').val());
            //console.log(d.toString());
            //console.log('1 - send');
            var data = {
                "FromUser": fromUser,
                "Message": $('#submit_message').val(),
                "Time": d.toString(),
                "ToUser": toUser
            };
            //var cache = [];
            console.log(JSON.stringify(data));
            var str = JSON.stringify(data);
            socket.send(str);
            //console.log(JSON.stringify(data, function (key, value) {
            //    if (typeof value === 'object' && value !== null) {
            //        if (cache.indexOf(value) !== -1) {
            //            // Circular reference found, discard key
            //            return;
            //        }
            //        // Store value in our collection
            //        cache.push(value);
            //    }
            //    return value;
            //}));
            //cache = null;
            $txt.value = '';
        };
</script>
</body>
</html>