<!DOCTYPE html>

<html>
<head>
    <title>Простой чат</title>
</head>
<body>
    <aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar">
        <div class="popup-head">
            <div class="popup-head-left pull-left">
                <a design and developmenta title="Gurdeep Osahan (Web Designer)" target="_blank" href="https://web.facebook.com/iamgurdeeposahan">
                    <img class="md-user-image" alt="Gurdeep Osahan (Web Designer)" title="Gurdeep Osahan (Web Designer)" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" >
                    <h1>Gurdeep Osahan</h1><small><br> <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Web Designer</small>
                </a>
            </div>
            <div class="popup-head-right pull-right">


                <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">
                    <i class="glyphicon glyphicon-paperclip"></i>
                </button>
                <ul role="menu" class="dropdown-menu pull-right">
                    <li><a href="#"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Gallery</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Photo</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Video</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Audio</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contact</a></li>
                </ul>


                <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
        </div>
        <div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" style="opacity: 1; display: block; transform: translateX(0px);">
            <div id="messages"class="chat_box touchscroll chat_box_colors_a">
                <div class="chat_message_wrapper">
                    <div class="chat_user_avatar">
                        <a href="https://web.facebook.com/iamgurdeeposahan" target="_blank">
                            <img alt="Gurdeep Osahan (Web Designer)" title="Gurdeep Osahan (Web Designer)" src="http://www.webncc.in/images/gurdeeposahan.jpg" class="md-user-image">
                        </a>
                    </div>
                    <ul class="chat_message">
                        <li>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum? </p>
                        </li>
                        <li>
                            <p> Lorem ipsum dolor sit amet.<span class="chat_message_time">13:38</span> </p>
                        </li>
                    </ul>
                </div>
                <div class="chat_message_wrapper chat_message_right">
                    <div class="chat_user_avatar">
                        <a href="https://web.facebook.com/iamgurdeeposahan" target="_blank">
                            <img alt="Gurdeep Osahan (Web Designer)" title="Gurdeep Osahan (Web Designer)" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="md-user-image">
                        </a>
                    </div>
                    <ul class="chat_message">
                        <li>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus distinctio dolor earum est hic id impedit ipsum minima mollitia natus nulla perspiciatis quae quasi, quis recusandae, saepe, sunt totam.
                                <span class="chat_message_time">13:34</span>
                            </p>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
        <div class="chat_submit_box">
            <div class="uk-input-group">

                <div class="gurdeep-chat-box">
                    <span style="vertical-align: sub;" class="uk-input-group-addon">
                        <a href="#"><i class="fa fa-smile-o"></i></a>
                    </span>
                    <input type="text" placeholder="Type a message" id="submit_message" name="submit_message" class="md-input">
                    <span style="vertical-align: sub;" class="uk-input-group-addon">
                        <a href="#"><i class="fa fa-camera"></i></a>
                    </span>
                </div>


                <span class="uk-input-group-addon">
                    <a href="#"><i id="send" class="glyphicon glyphicon-send"></i></a>
                </span>

            </div>
        </div>

    </aside>
    
    
    <div id='messagesv'></div>

    <script type="text/javascript">
        var socket,
            $txt = document.getElementById('submit_message'),
            $user = 'user6',
            $messages = document.getElementById('messages');

        if (typeof (WebSocket) !== 'undefined') {
            console.log('1 - socket undef');
            socket = new WebSocket("ws://localhost:59521/ChatHandler.ashx");
        } else {
            console.log('2 - socket def');
            socket = new MozWebSocket("ws://localhost:59521/ChatHandler.ashx");
        }
        //socket.SetRequestHeader("Cookie", "FromUser" + "=" + $user);
        socket.onmessage = function (msg) {
            var $el = document.createElement('p');
            //$el.innerHTML = msg.data;
            console.log(msg.data.replace(/\s/g, ''));
            msg.data = msg.data.replace(/\\n/g, "\\n")
               .replace(/\\'/g, "\\'")
               .replace(/\\"/g, '\\"')
               .replace(/\\&/g, "\\&")
               .replace(/\\r/g, "\\r")
               .replace(/\\t/g, "\\t")
               .replace(/\\b/g, "\\b")
               .replace(/\\f/g, "\\f");
            // remove non-printable and other non-valid JSON chars
            msg.data = msg.data.replace(/[\u0000-\u0019]+/g, "");
            var obj = JSON.parse(msg.data);
            //console.log(obj);
            //$messages.appendChild($el);
            $('#messages').append('<div class="chat_message_wrapper chat_message_right">'+
                    '<div class="chat_user_avatar">'+
                        '<a href="https://web.facebook.com/iamgurdeeposahan" target="_blank">'+
                           ' <img alt="Gurdeep Osahan (Web Designer)" title="Gurdeep Osahan (Web Designer)" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="md-user-image">'+
                        '</a>'+
                    '</div>'+
                   ' <ul class="chat_message">'+
                       ' <li>'+
                           ' <p>'+
                                msg.data+
                                '<span class="chat_message_time">13:34</span>'+
                            '</p>'+
                       ' </li>'+
                   ' </ul>'+
                '</div>');
        };

        socket.onclose = function (event) {
            alert('Мы потеряли её. Пожалуйста, обновите страницу');
        };

        document.getElementById('send').onclick = function () {
            console.log('1 - send');
            var data = {
                FromUser: "user",
                Message: "100",
                Time: "10",
                ToUser: "user6"
            }
            var cache = [];
            console.log(JSON.stringify(data));
            var str = JSON.stringify(data);
            socket.send(str);
            console.log(JSON.stringify(data, function (key, value) {
                if (typeof value === 'object' && value !== null) {
                    if (cache.indexOf(value) !== -1) {
                        // Circular reference found, discard key
                        return;
                    }
                    // Store value in our collection
                    cache.push(value);
                }
                return value;
            }));
            cache = null;
            $txt.value = '';
        };
    </script>
</body>
</html>